<!-- Navbar -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-container">
      <a class="navbar-brand" href="index.html">
        <img src="./Imagetotext.png" alt="Logo" class="navbar-logo" />
      </a>
      <ul class="navbar-nav">
        <li><a class="nav-link" href="index.html">Home</a></li>
        <li><a class="nav-link" href="about.html">About Us</a></li>
        <li><a class="nav-link" href="contact.html">Contact</a></li>
        <li><a class="nav-link" href="blog.html">Blog</a></li>
      </ul>
      <button class="nav-toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
